<!DOCTYPE html>

{% load static %}

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'frontend/img/favicon.ico' %}"/>

    <!--JQuery - used for interaction with server throughout-->
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/jquery.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/popper.min.js' %}"></script>

    <!-- Bootstrap - used for style throughout-->
    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}"/>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>

    <!-- Select2 - used this for the search/select boxes-->
    <link rel="stylesheet" href="{% static 'frontend/css/select2.min.css' %}"/>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/select2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/select2-bootstrap.min.css' %}"/>

    <!--dataTables - used for displaying data throughout-->
    <link rel="stylesheet" href="{% static 'frontend/css/dataTables.min.css' %}"/>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/dataTables.min.js' %}"></script>

    <!--export buttons for table-->
    <link rel="stylesheet" href="{% static 'frontend/css/dataTables.buttons.min.css' %}"/>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/jzip.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/buttons.html5.min.js' %}"></script>

    <!--multiselect-->
    <link rel="stylesheet" href="{% static 'frontend/css/multi-select.css' %}"/>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/jquery.multi-select.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/jquery.quicksearch.js' %}"></script>

    <!--chart js-->
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/chart.js' %}"></script>

    <!-- custom css for this project -->
    <link rel="stylesheet" href="{% static 'frontend/css/custom.css' %}"/>

    <!-- import js functions used throughout -->
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/admin_splash.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/results_view.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/progress_view.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/experiment_view.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/user_view.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/add_rating.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/splash_page.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/pre_survey.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/get_question.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/update_pair.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'frontend/js/functions/comment_view.js' %}"></script>

    <title>Elo Peer Rater</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" id="navbar-main" href="/">Elo Peer Rater</a>
      <a class="navbar-item navbar-right" id="login_toggle" href="#">Admin Login</a>
    </nav>


    <div class = 'main'></div>
    

    <script>
      //startup procedure
      $(document).ready(function() {

        //check for access code in URL, if its there,  go straight to the elo ratings
        //if not, go to page that asks for code or admin login
        var urlParams = new URLSearchParams(window.location.search);
        var code = urlParams.get('code')
        if(code == null){
          splash_page();
        } else{
          $.ajax({
            url: 'api/v1/res?uuid=' + code,
            type: "GET",
            dataType: "json",
            success: function (data){
              //no more pairwise...
              if(data.length == 0){
                //check if comments needed
                $.ajax({
                  url: 'api/v1/check_comments?uuid=' + code,
                  type: "GET",
                  dataType: "json",
                  success: function(data3){
                    if(data3[0].comments_at_end == true){
                      comment_view(code, data3[0].comments_required)
                    } else{
                      $('#overlay').fadeOut()
                      $('.main').html(`
                        <div class = 'content'>
                          <h2>Your ratings have been captured - thank you!</h2>
                        </div>
                      `)
                    }
                  }
                })
              } else{
                //there are ratings left, but need to determine if we should go to comments instead
                $.ajax({
                  url: 'api/v1/exp?exp_id=' + data[0].experiment_name,
                  type: "GET",
                  dataType: "json",
                  success: function(data2){
                    if(data2[0].make_comments == true & data2[0].comments_at_end == false){
                      comment_view(code, data2[0].comments_required)
                    } else{
                      update_pair(code)
                    }
                  }
                })
              }
            }
          })
        }

        //listener so when admin login is clicked, go to admin pages
        $('#login_toggle').click(function(){
          admin_splash()
        })

      });
    </script>
  </body>
</html>
